<h3>Modifier une entreprise</h3>

<form method="post" action="{{ path('admin') }}">
  <input type="hidden" name="action" value="update_company">

  <label>ID</label>
  <input type="number" name="company_id" required>

  <label>Nom</label>
  <input type="text" name="company_name">

  <label>Localisation</label>
  <input type="text" name="company_location">

  <button type="submit">Modifier</button>
</form>
