<h3>Supprimer une entreprise</h3>

<form method="post" action="{{ path('admin') }}">
  <input type="hidden" name="action" value="delete_company">

  <label>ID</label>
  <input type="number" name="company_id" required>

  <button type="submit">Supprimer</button>
</form>
